body {
    font-family: Arial, sans-serif;
    background-color: #00f5a4;
    color: #333;
}

h1 {
    margin: 300px;
    color: #000000;
    transform: skew(15deg, 15deg);  
}

p {
    line-height: 1.6;
}