body {
    font-family: Arial, sans-serif;
    background-color: #00f5a4;
    color: #333;
}

h1 {
    text-align: center;
    color: #000000;
}

nav {
    text-align: center;
}

img {
    image: center;
    height: 40%;
    width: 40%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

p {
    text-align: center;
    line-height: 1.6;
}